---
layout: default
---   
  
<section id="hero-spot">
  <div class="inner">
    <h1>PerkTutor</h1>
    <h2>Training platform for<br/>
      image-guided interventions
    </h2>
  </div>
</section>

<section id="content">
  <div class="inner">
        
    <ol class="screencap-list">
      <li id="author">
        <span><img src="images/SlicerCorner.png" /></span>
        Extends 3D Slicer
      </li>

      <li id="theme-it">
        <span><img src="images/Applications.png" /></span>
        Configurable
      </li>

      <li id="publish">
        <span><img src="images/Code.png" /></span>
        Open-source
      </li>

    </ol>
        
    <div class="three-column">
      <h3>Builds on a dynamic platform</h3>
      <p>PerkTutor is an extension of <a href="http://www.slicer.org">3D Slicer</a>, a free, open source software for visualization and image analysis. PerkTutor can be installed from the 3D Slicer Extension Manager on Windows, Mac, and Linux to use all the advanced features of 3D Slicer for intervention training.</p>
    </div><!-- /.three-column -->

    <div class="three-column">
      <h3>Flexible training framework</h3>
      <p>Modules of the PerkTutor extension are designed so you can teach and learn interventions without programming. PerkTutor offers the flexibilty to support many different needle-based interventions, including spinal, prostate, and central line applications.</p>
    </div><!-- /.three-column -->

    <div class="three-column">
      <h3>PerkTutor is open research</h3>
      <p>Our development and research work is public, including source code, data, experiment protocols, manuals, etc. PerkTutor is distributed under BSD license allowing academic and commercial use without any restrictions.</p>
    </div><!-- /.three-column -->
        

    <div class="updates">
             
      {{ content }}
        
    </div><!-- /.updates -->
          
  </div><!-- /.inner -->
      
</section> <!-- class="inner" -->